name: Build & Deploy Backstage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-and-push-docker:
    runs-on: [ self-hosted, linux, x64, backstage ]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - uses: actions/setup-node@v4
      with:
        node-version: 18
    - name: Build image
      run: |
        export $(echo ${{ secrets.ENV_FILE }} | base64 --decode | xargs)
        npm install -g yarn
        yarn install
        yarn tsc
        yarn build
        docker image build . -f packages/backend/Dockerfile --tag $BACKSTAGE_DOCKER_IMAGE

  test-deploy:
    runs-on: [ self-hosted, linux, x64, backstage ]
    needs: build-and-push-docker
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test TF Template
      run: |
        echo "Test TF Template"

  deploy:
    runs-on: [ self-hosted, linux, x64, backstage ]
    needs: test-deploy
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Deploy to AWS
      run: |
        echo "Deploy to AWS"